body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #222;
  color: white;
  padding: 1rem;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

#filters{
  margin-top: 20px;
  margin-left: 80px;
  gap: 20px;
  display:flex;
}